In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Book1.xlsx')

In [3]:
df

      BCode           BVal          SVal       Balance     Ratio
0      BBCA  1009960000000  466333000000  543625000000  2.165745
1      BMRI   705455000000  717059000000  -11604092500  0.983817
2      BBRI   527193000000  396220000000  130973000000  1.330557
3      TLKM   349018000000  150207000000  198811000000  2.323585
4      BBNI   258575000000  155092000000  103483000000  1.667236
..      ...            ...           ...           ...       ...
317    BLTZ         183000        391000       -208000  0.468031
318    TLDN         136200       4903200      -4767000  0.027778
319    POLI          73500        450000       -376500  0.163333
320    SMKM          37100      14429300     -14392200  0.002571
321  SMLE-W           4000       5112000      -5108000  0.000782

[322 rows x 5 columns]

In [32]:
column = []
for x in df.columns:
    column.append(x)

In [33]:
column

['BCode', 'BVal', 'SVal', 'Balance', 'Ratio']